#map {
    width: 100%;
    height: 800px;
}

.marker {
    background: #837569;
    padding: 5px;
    border-radius: 25px;
}
.marker2 {
    background: #EE964B;
    padding: 5px;
    border-radius: 25px;
}